footer
    .container
        .links
            a.linkedin(href="//www.linkedin.com/in/geoffliddiard", target="_blank", title="view my Linkedin profile")
                include svg/linkedin
                span Linkedin

            a.github(href="//github.com/geoffliddiard", target="_blank", title="view my Github profile")
                include svg/octocat
                span Github

        p &copy; 2016 Geoff Liddiard. All rights reserved.