header
    .container
        h1
            a(href="#")
                include svg/gl

        nav
            ul
                li: a(href="#about") About me
                li: a(href="#work") My work
                li: a(href="#contact") Contact