script(type="application/ld+json").
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Geoff Liddiard",
        "url": "https://geoffliddiard.com",
        "logo": "https://geoffliddiard.com/img/gl-icon.png",
        "email": "hello@geoffliddiard.com",
        "location": {
            "@type": "PostalAddress",
            "addressCountry": {
                "@type": "Country",
                "name": "UK"
            },
            "addressLocality": "Oxford"
        }
    }
