main(role="main")
    section#about
        .container
            .me
                h1 I'm Geoff.
                h3 designer &amp; developer.
                p I build responsive, lightweight websites and apps using a mobile-first approach.

            .skills
                h2 Skills &amp; Experience
                p I’ve been hacking the web since the days of MySpace (2009). I've worked for agencies, have lead teams and understand all aspects of small/medium sized projects from concepting to launch.

            .services
                .design
                    .icon
                        include svg/design
                    h4 Design
                    p I believe in clean, user focussed design that compliments your brand. Allow your users to find and consume your content easily.
                .dev
                    .icon
                        include svg/dev
                    h4 Development
                    p I'm a Full-stack developer with a passion for user experience. I'm accomplished in front and back-end development, from building slick UI to API's and bespoke CMS to designing databases and small scale networking and infrastructure.
                .consult
                    .icon
                        include svg/consult
                    h4 Consultation
                    p In addition to providing design and development services, I can also help you build strategic roadmaps with detailed planning through consultancy services.

    section#work
        .container
            h2 My work
            p I’ve been busy working on Happiour for the last 3 years. Prior to this I worked for digital agencies in London, delivering projects as part of a team for a range of high profile clients including Google, Ebay, Expedia, McLaren &amp; Net-a-Porter.

            hr

            article.project
                img(src="img/projects/happiour.jpg", srcset="/img/projects/happiour@2x.jpg 2x", width="100%", height="auto")
                header
                    h3 Happiour
                        //include svg/happiour-logo
                    span.role Technical Director / Lead developer
                .content
                    p Happiour is a food and drink offers app operating in London. As Technical director i'm responsible for overseeing all aspects of our platform from design to development through to deployment/release.
                    p Our front-end clients include native iOS and Android applications plus Angular.js web apps for consumers and businesses. Our back-end and API's are built with Python and interface with an array of database engines including Postgresql, MongoDB, Redis and Elasticsearch, all hosted on AWS.
                    a.btn(href="https://happiour.com" target="_blank") View project

    section#contact
        .container
            h2 Get in touch
            p If you have a project that you want to get started or think you need my help with something then get in touch.
            a.btn(href="mailto:hello@geoffliddiard.com") Send me a message