extends layout

block content

    include _header
    include _main
    include _footer
    
    // Libs
    script(src="bower_components/jquery/dist/jquery.js")

    // Plugins
    // build:plugins js/plugins.min.js
    script(src="bower_components/headroom.js/dist/headroom.js")
    script(src="bower_components/headroom.js/dist/jQuery.headroom.js")
    // endbuild

    // App
    // build:js js/app.min.js
    script(src="js/app.js")
    // endbuild
    
    // Google Analytics
    include _google