doctype html
<!--[if lt IE 9]><html lang="en" class="lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
html(lang="en")
    <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title Geoff Liddiard
        base(href='/')
        meta(name="description", content="Freelance senior Web designer & developer based in Oxford, UK. I design and build lightweight, responsive websites and apps using a mobile-first approach.")
        meta(name="thumbnail", content="img/share.png")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        // Open graph
        meta(name="og:url", content="https://geoffliddiard.com")
        meta(name="og:image", content="https://geoffliddiard.com/img/share.png")
        meta(name="og:type", content="website")
            
        // Icons
        link(rel="icon", href="icon-32.png", type="image/png")
        link(rel="apple-touch-icon", href="apple-touch-icon.png")
        
        // Styles
        // build:css css/style.min.css
        link(rel="stylesheet", href="css/style.css")
        // endbuild
        
        // structured data
        include _jsonld
    
    body(ontouchstart="")

        block content