/*** Colours ***/

// black & white
$white     = #ffffff
$black     = #000000
$blue-grey = #3C4855
$grey      = #686868
$grey-2    = #E7E7E6

$red      = #FF5A52
$red-2    = #FF4B52

$green    = #84BB7A
$green-2  = #83D37A

$yellow   = #FFBA32
$yellow-2 = #FFC432

$teal     = #3F9F98
$purple   = #A838EB
$pink     = #FF5BFF

$cyan     = #24DDDF
$cyan-2   = #00EEE7

