// Settings
$font-stack = unquote('-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif')
$base-font-size = 16px

// Rupture
rupture.base-font-size = $base-font-size
rupture.enable-em-breakpoints = true

$gutters = 20px

// Animations
$duration = .4s

// breakpoints
$mobile = 540px